<div class="col-md-1">
    Login:
</div>
<div class="col-md-11">
    {{input value=login}}
</div>
<div class="col-md-1">
    Password:
</div>
<div class="col-md-11">
    {{input value=password}}
</div>
<div class="col-md-12">
    <button {{action 'login'}}>Login</button>
</div>